.header-title {
    text-align: center;
}

.task-label {
    font-size: 1.5rem;
    margin: 0%;
    padding-right: 1rem;
}

.input-form {
    display: flex;
    justify-content: center;
    height: 1.5rem;
}

.start-button {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding-top: 0.5rem;
    margin-left: 45%;
    font-size: 1.5rem;
    align-items: center;
}

.checkbutton {
    float: left;
    margin-top: 0.5rem;
}

.task_text {
    margin: 0rem;
    padding-left: 0.5rem;
    float: left;
}

.delete_item {
    float: right;
    align-items: center;
    color: red;
    font-size: 1rem;
}

.delete_item:hover {
    text-decoration: underline;
}
